/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: #540b51;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica", sans-serif;
    width: 100%; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  #slack-logo {
    height: 25px;
    width: 100px;
  }

  #logo-box {
    margin-left: 5%;
  }
  #search-box {
    margin-right: 5%;
  }
  #search-box button {
    background: none;
    color: inherit;
    border: none;
  }

  header {
    margin-top: 5%;
   }

   
h1 {
    font-size: 50px;
    text-align: center;
    color: white;
  }

  header p {
    color: white;
    text-align: center;
    font-weight: 600;
  }

  #signup-buttonbox {
    display: flex;
    flex-direction: column;
    margin: 45px 15px;
    justify-content :space-between;
    height: 100px;
  }

  #email-signup {
    background-color: white;
    text-transform: uppercase;
    height: 50%;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 5px;
  }

  #google-signup {
    background-color: #4285f4;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 5px;
    margin-top: 5px;
    height: 50% ;
    display: flex;
    flex-direction: row;
    justify-content :space-between;
    align-items: center;

  }

#google-logo {
    background: white;
    border: none;
    height: 100%;
 }

 #second-img{
        max-width: 100%;
        height: auto;
        margin-top: 20px;
 }

 main {
    background-color: #f3eae2;
    margin-left: 0;
    margin-right: 0;
  }

 .first_section {
    background-color: #f3eae2;
    margin-bottom: 0px ;
 }

 .first_section p {
    text-transform: uppercase;
    padding: 35px ;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 750;
 }


 .logos-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 0 0 60px 0;
 }

 .logos-box img {
    width: auto;
    height: 60px;
    padding: 2%;
  }

  .second_section {
    background-color: white;
    text-align: center;
    margin-top: 0;
    padding-bottom: ;
  }
  .second_section h3 {
    font-size: 3rem;
    padding: 10% 10% 0;
  }
  .second_section p {
    font-size: 1.5rem;
    font-weight: 750;
    padding: 0 10%;
  }
  
  
  .button-try {
    text-transform: uppercase;
    background-color: white;
    color: #540b51;
    border: 2px solid #540b51;
    border-radius: 5px;
  
    padding: 15px;
    margin-top: 2%;
  }

  .button-talk {
    text-transform: uppercase;
    background-color: purple;
    color: white;
    border-radius: 5px;
    border-color: #540b51;
    padding: 15px;
    margin-bottom: 5px;
  }
  
  ul {
    margin: 15% 0;
    list-style-type: none;
  }
  
  ul li {
    margin: 10% 0;
  }
  
  ul span {
    color: #540b51;
    font-size: 5rem;
    font-weight: 200;
  }
  
  ul p {
    text-align: center;
    font-weight: bold;
    margin: 0 15%;
  }

  .third_section {
    background-color: #540b51;
    padding-top: 5%;
    padding-bottom: 15%;
    

  }
  
  .third_section h3 {
    text-align: center;
    color: white;
    font-size: 4rem;
  }
  




  footer {
    background-color: white;
    margin-left: 0;
    margin-right: 0;
  }


  .footer_list {
    margin-left: 30px;
    font-weight: 800;
  }

  .social {
    display: flex;
    flex-direction:row;
    justify-content: space-around;

  }

  .copyright {
        text-align: center;
  }









  @media (min-width: 768px) and (max-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

  }
  
  
  